/* app/layout.css */

/* 画面全体の色 */
body {
  background-color: rgb(204, 255, 255);
}

/* 画面全体の上段のタイトル部分 */
.header {
  border-bottom: solid 2px;
  display: flex;
}

/* 画面全体の上段のタイトル部分 */
.header-title {
  font-size: 5vh;
  padding-top: 1%;
  padding-left: 5%;
  padding-bottom: 1%;
  white-space: nowrap;
}

/* inputの高さの設定 */
input {
  height: 20pt;
}

/*社員情報編集画面上段-ログインアウトボタン*/
.logoutbuttoncontainer {
  padding-top: 1.7%;
  width: 25vh;
  padding-left: 70%;
}

/*社員情報編集画面上段-ログインアウトボタン*/
.logoutbutton {
  width: 20vh;
  height: 5vh;
  font-size: 25px;
}
