/* ui/top.css */

/* 社員コードとパスワード入力部分 */
.codeAndPassword {
  padding-left: 10%;
  padding-top: 7%;
  font-size: 25px;
}

/* ログインボタンの囲み */
.loginbuttoncontainer {
  padding-top: 2%;
  text-align: center;
}

/* ログインボタン */
.loginbutton {
  width: 20vh;
  height: 5vh;
  font-size: 25px;
}

/* ダイアログ用 */
.dialog {
  position: absolute;
  top: 40%;
  width: 15%;
  height: 12%;
  text-align: center;
}
